.container{
    background-color: #1D1D37;
    padding:0 90px;
    color:#FFFFFF;
    width: fit-content;
    height: fit-content;
}

.logo{
    height:84px;
    width:84px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container{
        padding: 0 30px;
    }

    .logo{
        height:72px;
        width:72px;
    }
}

@media (max-width: 480px) {
    .container{
        padding: 0 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        height:30px;
        width:30px;
    }
}
