.container{
    background-color: #1D1D37;
    padding:0 90px;
    color:#FFFFFF;
}

.logo{
    height:70px;
    width:70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container{
        padding: 0 60px;
    }

    .logo{
        height:50px;
        width:50px;
    }
}

@media (max-width: 480px) {
    .container{
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        height:30px;
        width:30px;
    }
}
