.container{
    background-color: #1D1D37;
    width: 100vw;
    height: 100vh;
    padding:0 90px;
    color:#FFFFFF;
}

.logo{
    height:84px;
    width:84px;
    background-color: white;
    border-radius: 50%;
}