@import "tailwindcss";

/* --------------------
   Font Faces
-------------------- */

/* Extra Light */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semi Bold */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/PlusJakartaSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* --------------------
   Tailwind Base Layer
-------------------- */

@layer base {
  :root {
    --font-primary: "MyFont", system-ui, sans-serif;
  }

  body {
    font-family: var(--font-primary);
  }
}
